<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.is_ultrasonic_android"
    android:versionCode="1"
    android:versionName="1.0" >

	
      <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.example.is_ultrasonic_android.INTRO"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.is_ultrasonic_android.Query"
            android:label="Query"
            android:screenOrientation="portrait">
         </activity>
         <activity
            android:name="com.example.is_ultrasonic_android.Product"
            android:label="Product"
            android:screenOrientation="portrait">
         </activity>
         <activity
            android:name="com.example.is_ultrasonic_android.Mancontrol"
            android:label="Manual"
            android:screenOrientation="portrait">
         </activity>
         <activity
            android:name="com.example.is_ultrasonic_android.Control"
            android:label="Control"
            android:screenOrientation="portrait">
         </activity>
           <activity
            android:name="com.example.is_ultrasonic_android.Car"
            android:label="Car"
            android:screenOrientation="portrait">
         </activity>
         <activity
            android:name="com.example.is_ultrasonic_android.Camera"
            android:label="Camera"
            android:screenOrientation="portrait">
         </activity>
         <activity
            android:name="com.example.is_ultrasonic_android.Path"
            android:label="Path"
            android:screenOrientation="portrait">
         </activity>
    </application>

</manifest>
